#navbar {
  z-index: 1;
  background-color: rgb(35, 6, 107);
  position: sticky;
  top: 0;
  color: aliceblue;
  padding: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: top 0.3s; /* Add transition for smooth hide/show effect */
}

#navButtons {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  #navbar {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
